/*

Solarized
---------
Base03 		15 	−12 	−12 	#002b36 	234
Base02 		20 	−12 	−12 	#073642 	235
Base01 		45 	−07 	−07 	#586e75 	240
Base00 		50 	−07 	−07 	#657b83 	241
Base0 		60 	−06 	−03 	#839496 	244
Base1 		65 	−05 	−02 	#93a1a1 	245
Base2 		92 	−00 	10 	#eee8d5 	254
Base3 		97 	00 	10 	#fdf6e3 	230
Yellow 		60 	10 	65 	#b58900 	136
Orange 		50 	50 	55 	#cb4b16 	166
Red 		50 	65 	45 	#dc322f 	160
Magenta 	50 	65 	−05 	#d33682 	125
Violet 		50 	15 	−45 	#6c71c4 	61
Blue 		55 	−10 	−45 	#268bd2 	33
Cyan 		60 	−35 	−05 	#2aa198 	37
Green 		60 	−20 	65 	#859900 	64

*/


* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: Cantarell, Adobe Source Code Pro, Fira Mono, Lucida Grande, Arial, AR PL UKai CN, KaiTi SC, SongTi SC;
    font-size: 18px;
    /* font-size: 1.4em; */
    /* background: #fdf6e3; */
}


/* heading */
h1 {
    /* color: #268bd2; */
    color: skyblue;
    font-size: 2.0em;
    border-bottom: skyblue solid 4px;
    border-radius: 4px;
}

h2 {
    font-size: 1.6em;
    margin: 30px 0px 10px 0px;
    font-family: Palatino;
}

h3 {
    font-size: 1.4em;
    margin: 20px 0px 10px 0px;
    font-family: Palatino;
}

h4 {
    font-size: 1.2em;
    margin: 16px 0px 10px 0px;
    font-family: Palatino;
}
/*
ol {
    margin: 20px 0px 20px 0px;
}

ul {
    margin: 20px 0px 20px 0px;
}
*/

li {
    margin-left: 40px;
    line-height: 1.5em;
}

p {
    margin: 20px 0px 20px 0px;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border-bottom: skyblue solid 2px;
}

img {
    max-width: 80%;
}

.picture p {
    margin: 0 auto;
}

#content {
    /* border: cadetblue 5px solid; */
    /* border-radius: 10px 10px 10px 10px; */
    /* background: #fdf6e3; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px;
}

/* table */
td, th {
    padding: 6px;
}

/* org */
.org-svg {
    width: 300px;
    display: inline-block;
}
